<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/backstage/backstage_base.css">

    {% block css %}

    {% endblock %}
</head>
<body>
<div id="app">
    <aside>
        <div class="slogan">
            <img src="/static/my/img/backstage/slogan.png">
        </div>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/backstage/">个人中心</a></li>
            <li><a href="/backstage/edit_avatar/">修改头像</a></li>
            <li><a href="/backstage/reset_password/">修改密码</a></li>
            {% if request.user.is_superuser %}
                <li><a href="/backstage/add_article/">添加文章</a></li>
            {% endif %}
            <li><a href="/logout/">注销退出</a></li>


        </ul>
    </aside>
    <main>
        {#    中间件#}
        {% csrf_token %}
        {% block main %}
            <div class="user_info">
                <div class="left">
                    <img src="/media/avatars/头像_0004_25.jpg">
                </div>
                <div class="right">
                    <div class="item"><b>用户名:</b>mumu</div>
                    <div class="item"><b>注册时间:</b>2022-11-30</div>
                    <div class="item"><b>上次登陆时间:</b>2022-11-30 22:52</div>
                    <div class="item"><b>用户积分:</b>20</div>
                    <div class="item"><b>邮箱:</b>JioJaxson@gmail.com</div>
                    <div class="item"><b>电话号码:</b>还没有关联手机号码哦~</div>
                </div>

            </div>
            <div class="actions">
                <div class="item">
                    <el-button>完善信息</el-button>
                </div>
                <div class="item">
                    <el-button type="primary">修改头像</el-button>
                </div>
                <div class="item">
                    <el-button type="warning">修改密码</el-button>
                </div>
                <div class="item">
                    <el-button type="danger">注销退出</el-button>
                </div>
            </div>
            {% block content %}
                <div class="collection_articles">
                    <h3>我收藏的文章</h3>
                    <div class="article_list">
                        <div class="item">
                            <div class="left">
                                <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                                    自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="left">
                                <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                                    自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="left">
                                <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                                    自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="left">
                                <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                                    自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="left">
                                <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                            </div>
                            <div class="right">
                                <h4>路由分发</h4>
                                <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                                    自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                            </div>
                        </div>


                    </div>
                </div>
            {% endblock %}

        {% endblock %}

    </main>
</div>


</body>

<script src="/static/axios/axios.min.js"></script>
<script src="/static/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

{% block js %}

{% endblock %}
<script>
    {#配置中间件(拦截器)#}
    {#请求中间件#}
    axios.interceptors.request.use(request => {
        if (request.method === 'post') {
            let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            request.headers['X-CSRFToken'] = csrftoken

        }
        return request
    });
    {#响应中间件#}
    axios.interceptors.response.use(response => {
        {#console.log(response);#}
        return response.data;
    })


    new Vue({
        el: '#app',
        data() {
            return {
                add_drawer: false,
                add_article_activeNames: ['1'],
                title: '',
                category_id: '',
                tags: [],
                recommend: true,//默认上推荐
                pwdactive: false,//默认不加密
                pwd: '',// 文章加密密码
                cover_id: '',  //封面id
                abstract: '',//文章简介
            }
        },
        methods: {
            add_handleClose(done) {
                done()

            },
            {#发布文章#}
            submit_article() {
                let data = {
                    pwd: this.pwd,
                    tags: this.tags,
                    cover_id: this.cover_id,
                    recommend: this.recommend,
                    title: this.title,
                    category_id: this.category_id,
                    abstract: this.abstract,
                    content: editor.querySelector('.editormd-markdown-textarea').value,
                }


                axios.post('/api/article/', data).then(res => {
                    if (res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    console.log(res)
                    setTimeout(() => {
                        location.href = `/static/${res.data}/`
                    }, 1000)
                })
            },
            {#选择封面#}
            select_cover(val) {
                {#选择封面是异步操作,需要定时器#}
                setTimeout(() => {
                    let v = document.querySelector('.article_cover input').value
                    let cover = document.getElementById('cover_img')
                    cover.src = v
                }, 1)
            },


        }
    })
</script>
</html>