<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/backstage/backstage_base.css">
</head>
<body>
<div id="app">
    <aside>
        <div class="slogan">
            <img src="/static/my/img/backstage/slogan.png">
        </div>
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/backstage/">个人中心</a></li>
            <li><a href="/backstage/edit_avatar/">修改头像</a></li>
            <li><a href="/backstage/rest_password/">修改密码</a></li>
        </ul>
    </aside>
    <main>
        <div class="user_info">
            <div class="left">
                <img src="/media/avatars/头像_0004_25.jpg">
            </div>
            <div class="right">
                <div class="item"><b>用户名:</b>mumu</div>
                <div class="item"><b>注册时间:</b>2022-11-30</div>
                <div class="item"><b>上次登陆时间:</b>2022-11-30 22:52</div>
                <div class="item"><b>用户积分:</b>20</div>
                <div class="item"><b>邮箱:</b>JioJaxson@gmail.com</div>
                <div class="item"><b>电话号码:</b>还没有关联手机号码哦~</div>
            </div>

        </div>
        <div class="actions">
            <div class="item">
                <el-button>完善信息</el-button>
            </div>
            <div class="item">
                <el-button type="primary">修改头像</el-button>
            </div>
            <div class="item">
                <el-button type="warning">修改密码</el-button>
            </div>
            <div class="item">
                <el-button type="danger">注销退出</el-button>
            </div>
        </div>
        <div class="collection_articles">
            <h3>我收藏的文章</h3>
            <div class="article_list">
                <div class="item">
                    <div class="left">
                        <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                    </div>
                    <div class="right">
                        <h4>路由分发</h4>
                        <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                            自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                    </div>
                </div>
                <div class="item">
                    <div class="left">
                        <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                    </div>
                    <div class="right">
                        <h4>路由分发</h4>
                        <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                            自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                    </div>
                </div>
                <div class="item">
                    <div class="left">
                        <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                    </div>
                    <div class="right">
                        <h4>路由分发</h4>
                        <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                            自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                    </div>
                </div>
                <div class="item">
                    <div class="left">
                        <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                    </div>
                    <div class="right">
                        <h4>路由分发</h4>
                        <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                            自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                    </div>
                </div>
                <div class="item">
                    <div class="left">
                        <img src="http://www.fengfengzhidao.com/media/article_img/a9c764a5-57d5-443e-bce9-239359a9f7ed.jpg">
                    </div>
                    <div class="right">
                        <h4>路由分发</h4>
                        <p>渐进式：一步一步，不是将所有的东西都学完才能使用。
                            自底向上设计：一种设计程序的过程和方法，就是先编写出基础程序段，然后在逐步扩大规范、补充和升级某些 功能，实际上是一种自底向上构造程序的过程。</p>
                    </div>
                </div>


            </div>
        </div>
    </main>
</div>


</body>
<script src="/static/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',

    })
</script>
</html>