#app {
  display: flex;
}

aside {
  width: 200px;
  height: 100vh;
  background-color: #304156;

  .slogan {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    img {
      width: 80%;
    }
  }

  > ul {
    width: 100%;
    margin-top: 40px;

    li {
      width: 100%;
      height: 50px;
      line-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;

      &:hover {

        background-color: rgba(0, 0, 0, .2);
      }

      a {
        color: white;
        transition: all 0.3s;


        &:hover {
          color: #3f70ac;
        }

      }
    }
  }

}

main {
  width: calc(100% - 200px);
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f0eeee;

  .user_info {
    width: 100%;
    display: flex;
    background-color: #808595;
    border-radius: 5px;

    .left {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        border-radius: 50%;
      }
    }

    .right {
      width: 80%;
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 50%;
        display: flex;
        align-items: center;
        height: 35px;
      }
    }
  }

  .actions {
    height: 80px;
    width: 100%;
    background-color: #808595;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;


  }

  .collection_articles {
    background-color: #808595;
    margin-top: 20px;
    border-radius: 5px;

    h3 {
      font-size: 22px;
      text-align: center;
      padding-top: 10px;
    }

    .article_list {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      width: calc(100% - 40px);


      .item {
        display: flex;
        width: 33.33%;
        margin-bottom: 20px;

        .left {
          width: 30%;

          img {
            width: 100%;
            border-radius: 5px;
          }
        }

        .right {
          width: calc(70% - 20px);
          padding: 0 10px;

          h4 {
            margin-bottom: 10px;
          }

          p {
            // 文字多行截断
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

    }
  }

}