.pager {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pager li {
  min-width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s;
  margin-right: 10px;
  cursor: pointer;
}
.pager li:last-child {
  margin-right: 0;
}
.pager li a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;
}
.pager li:hover {
  background-color: orange;
}
.pager li:hover a {
  color: white;
}
.pager > li.active {
  background-color: orange;
}
.pager > li.active a {
  color: white;
}

.card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  padding: 20px 20px 10px 20px;
  background-color: white;
  border-radius: 5px 5px 0 0;
}
.card .title h2 {
  font-size: 20px;
}
.card .title > div a {
  font-size: 14px;
}
.card .body {
  padding: 10px 20px 20px 20px;
  background-color: white;
  border-radius: 0 0 5px 5px;
}

#app {
  width: 100%;
}
#app .video_banner {
  width: 100%;
  height: 540px;
}
#app .video_banner .video_banner_text {
  position: relative;
  top: 160px;
  left: 0;
  color: #fff;
  text-align: center;
}
#app .video_banner .video_banner_text > div {
  width: 100%;
  height: 88px;
  font-size: 60px;
  z-index: 500;
}
#app .video_banner .video_banner_text h3 {
  margin-top: 18px;
  font-size: 24px;
}
#app .main {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  min-height: 400px;
}
#app .main > div > div {
  margin-bottom: 20px;
}
#app .main .left {
  width: 69%;
}
#app .main .left .feature_articles > .title .switch_type span {
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
#app .main .left .feature_articles > .title .switch_type span:hover, #app .main .left .feature_articles > .title .switch_type span[active] {
  color: orange;
}
#app .main .left .feature_articles > .body {
  padding: 0 20px;
}
#app .main .left .feature_articles > .body > ul {
  display: flex;
  flex-wrap: wrap;
}
#app .main .left .feature_articles > .body > ul > li {
  width: 50%;
  display: flex;
  padding: 10px 0;
  box-sizing: border-box;
}
#app .main .left .feature_articles > .body > ul > li:nth-child(2n+1) {
  border-right: 1px solid #f0eeee;
}
#app .main .left .feature_articles > .body > ul > li:nth-child(2n+1) .right {
  padding-right: 10px;
}
#app .main .left .feature_articles > .body > ul > li:nth-child(2n) {
  padding: 10px;
}
#app .main .left .feature_articles > .body > ul > li:nth-child(n+3) {
  border-top: 1px solid #f0eeee;
}
#app .main .left .feature_articles > .body > ul > li .left {
  width: 40%;
}
#app .main .left .feature_articles > .body > ul > li .left > div {
  width: 100%;
  height: 90px;
  overflow: hidden;
}
#app .main .left .feature_articles > .body > ul > li .left img {
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
#app .main .left .feature_articles > .body > ul > li .left img:hover {
  transform: scale(1.1);
}
#app .main .left .feature_articles > .body > ul > li .right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  box-sizing: border-box;
}
#app .main .left .feature_articles > .body > ul > li .right h2 {
  font-size: 20px;
}
#app .main .left .feature_articles > .body > ul > li .right h2, #app .main .left .feature_articles > .body > ul > li .right p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
#app .main .left .feature_articles > .body > ul > li .right span {
  font-size: 14px;
  color: #555;
}
#app .main .left .blog_articles > .body {
  background-color: transparent;
  padding: 0;
}
#app .main .left .blog_articles > .body .article_content {
  width: 100%;
}
#app .main .left .blog_articles > .body .article_content > li {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
}
#app .main .left .blog_articles > .body .article_content > li:first-child {
  border-radius: 0 0 5px 5px;
}
#app .main .left .blog_articles > .body .article_content > li:first-child .left {
  padding: 10px 10px 20px 20px;
}
#app .main .left .blog_articles > .body .article_content > li:first-child .right {
  padding: 10px 20px 20px 10px;
}
#app .main .left .blog_articles > .body .article_content > li .left {
  width: 30%;
  padding: 20px 10px 20px 20px;
}
#app .main .left .blog_articles > .body .article_content > li .left > div {
  width: 100%;
  height: 120px;
  overflow: hidden;
  border-radius: 5px;
}
#app .main .left .blog_articles > .body .article_content > li .left img {
  width: 100%;
  transition: all 0.3s;
  display: block;
}
#app .main .left .blog_articles > .body .article_content > li .left img:hover {
  transform: scale(1.1);
}
#app .main .left .blog_articles > .body .article_content > li .right {
  position: relative;
  width: 70%;
  padding: 20px 20px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}
#app .main .left .blog_articles > .body .article_content > li .right > h2 {
  font-size: 23px;
  margin-bottom: 5px;
}
#app .main .left .blog_articles > .body .article_content > li .right p {
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
#app .main .left .blog_articles > .body .article_content > li .right .article_info {
  font-size: 14px;
}
#app .main .left .blog_articles > .body .article_content > li .right .article_info > span {
  margin-right: 10px;
}
#app .main .left .blog_articles > .body .article_content > li .right .article_info > span > i {
  margin-right: 5px;
}
#app .main .left .blog_articles > .body .article_content > li .right > a {
  position: absolute;
  right: 18px;
  bottom: 18px;
  width: 100px;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ff9800;
}
#app .main .right {
  width: 30%;
}
#app .main .right .tags_cloud > .body {
  position: relative;
}
#app .main .right .tags_cloud > .body ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
@keyframes move_box {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 20px);
  }
  50% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
  }
  75% {
    top: calc(100% - 20px);
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
#app .main .right .tags_cloud > .body ul::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: orange;
  -webkit-animation-name: move_box;
  animation-name: move_box;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#app .main .right .tags_cloud > .body ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 40px;
  box-sizing: border-box;
}
#app .main .right .tags_cloud > .body ul li:nth-child(6n+1), #app .main .right .tags_cloud > .body ul li:nth-child(6n+2), #app .main .right .tags_cloud > .body ul li:nth-child(6n+3) {
  background-color: #f5f5f5;
}
#app .main .right .tags_cloud > .body ul li:nth-child(3n+1), #app .main .right .tags_cloud > .body ul li:nth-child(3n+2) {
  border-right: 1px solid #f0eeee;
}
#app .main .right .advertisement > .body {
  padding: 0;
  background: none;
}
#app .main .right .advertisement > .body > div {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
}
#app .main .right .advertisement > .body > div:first-child {
  border-radius: 0 0 5px 5px;
}
#app .main .right .advertisement > .body > div > a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
#app .main .right .advertisement > .body > div > a > img {
  width: 100%;
  transition: all 0.3s;
}
#app .main .right .advertisement > .body > div > a > img:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=index.css.map */
