.main {
  width: 1080px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .search_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.main .search_box > div {
  margin-right: 10px;
}
.main .search_box > div:last-child {
  margin-right: 0;
}
.main .search_box input {
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #777;
}
.main .search_box button {
  width: 100px;
  height: 40px;
  background-color: #00a1d6;
  color: white;
  border: none;
  border-radius: 5px;
}
.main .search_criteria {
  width: 100%;
  font-size: 12px;
}
.main .search_criteria::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e9ef;
  margin: 20px 0 10px 0;
}
.main .search_criteria::after {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e5e9ef;
  margin: 10px 0 20px 0;
}
.main .search_criteria > ul {
  display: flex;
  flex-wrap: wrap;
}
.main .search_criteria > ul li {
  padding: 5px 8px;
  margin: 8px 10px 8px 0;
}
.main .search_criteria > ul li a {
  color: #333;
}
.main .search_criteria > ul li a:hover {
  color: #00a1d6;
}
.main .search_criteria > ul li.active {
  background-color: #00a1d6;
  border-radius: 5px;
}
.main .search_criteria > ul li.active a {
  color: white;
}
.main .search_content {
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
}
.main .search_content > li {
  width: 190px;
  height: 180px;
  border: 1px solid #e5e9ef;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 30px 20px 0;
}
.main .search_content > li:nth-child(5n) {
  margin-right: 0;
}
.main .search_content > li .img {
  display: block;
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.main .search_content > li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .search_content > li .info {
  padding: 10px;
}
.main .search_content > li .info .title {
  margin-bottom: 5px;
}
.main .search_content > li .info a {
  color: #333;
  font-size: 14px;
  height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .search_content > li .info .icon {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  color: #333;
}
.main .pager {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .pager li {
  min-width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  transition: all 0.3s;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #e5e9ef;
}
.main .pager li:last-child {
  margin-right: 0;
}
.main .pager li a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;
  color: #333;
}
.main .pager li:hover {
  background-color: #00a1d6;
}
.main .pager li:hover a {
  color: white;
}
.main .pager > li.active {
  background-color: #00a1d6;
}
.main .pager > li.active a {
  color: white;
}

/*# sourceMappingURL=search.css.map */
