.main {
  width: 1080px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;


  .search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    > div {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }


    input {
      width: 300px;
      height: 40px;
      outline: none;
      border: none;
      border-radius: 5px;
      padding-left: 10px;
      border: 1px solid #777;
    }

    button {
      width: 100px;
      height: 40px;
      background-color: #00a1d6;
      color: white;
      border: none;
      border-radius: 5px;
    }

  }

  .search_criteria {
    width: 100%;
    font-size: 12px;

    &::before {
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e5e9ef;
      margin: 20px 0 10px 0;
    }

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #e5e9ef;
      margin: 10px 0 20px 0;
    }

    > ul {
      display: flex;

      li {
        padding: 5px 8px;
        margin: 8px 10px 8px 0;

        a {
          color: #333;

          &:hover {
            color: #00a1d6;
          }
        }

      }

      li.active {
        background-color: #00a1d6;
        border-radius: 5px;

        a {
          color: white;
        }
      }
    }
  }


  .search_content {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;

    > li {
      width: 190px;
      height: 180px;
      border: 1px solid #e5e9ef;
      border-radius: 5px;
      overflow: hidden;
      margin: 0 30px 20px 0;

      &:nth-child(5n) {
        margin-right: 0;
      }


      .img {
        display: block;
        height: 100px;
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover; //裁剪
        }
      }

      .info {
        padding: 10px;

        .title {
          margin-bottom: 5px;
        }

        a {
          color: #333;
          font-size: 14px;
          height: 40px;
          // 文字多行截断
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden; // 溢出隐藏
          text-overflow: ellipsis; //文本溢出省略号标记
        }

        .icon {
          font-size: 13px;
          display: flex;
          justify-content: space-between;
          color: #333;
        }
      }
    }

  }


  .pager {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;

    li {
      min-width: 30px;
      height: 30px;
      background-color: rgba(255, 255, 255, .7);
      border-radius: 5px;
      transition: all 0.3s;
      margin-right: 10px;
      cursor: pointer;
      border: 1px solid #e5e9ef;

      &:last-child {
        margin-right: 0;
      }

      a {
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        text-align: center;
        box-sizing: border-box;
        color: #333;


      }

      &:hover {
        background-color: #00a1d6;

        a {
          color: white;
        }
      }


    }

    > li.active {
      background-color: #00a1d6;

      a {
        color: white;
      }
    }
  }


}