{% extends 'index.html' %}

{% load my_tags %}

{% block css %}
    <link rel="stylesheet" href="/static/editor-md/css/editormd.css"/>

    <link rel="stylesheet" href="/static/my/css/article.css">

{% endblock %}

{% block banner %}
    {% banner 'article' article %}
{% endblock %}

{% block main %}

    <div class="article">
        <div class="slider_bar">
            <div class="title">
                悬浮目录
            </div>
            <div class="body">
                <p>Vue面试技巧Vue面试技巧Vue面试技巧Vue面试技巧Vue面试技巧</p>
                <p>Python爬虫</p>
            </div>
        </div>
        <div class="article_title">
            <h2>{{ article.title }}
                {% if request.user.is_superuser %}
                    <a href="/backstage/edit_article/{{ article.nid }}/">
                        <i class="fas fa-edit"></i>
                    </a>
                {% endif %}
            </h2>
            <p>
                <span>发布时间: <i>{{ article.create_date|date:'Y-m-d' }}</i></span>
                <span>作者: <i>{{ article.author }}</i></span>
                <span>来源: <i>{{ article.source }}</i></span>
            </p>
            <div>
                {% if article.tag.all %}
                    <i title="文章标题" class="fas fa-tags"></i>
                    {% for tag in article.tag.all %}
                        <i>{{ tag.title }}</i>
                    {% endfor %}
                {% endif %}
            </div>


        </div>

        <div class="article_content" id="article_content">
            <textarea style="display: none;">{{ article.content }}</textarea>
        </div>
        <div class="article_comments">
            <div class="title">
                你觉得文章怎么样
            </div>
            <div class="body">
                <textarea name="" id="" rows="10" placeholder="写下你想问的话,开始我们的对话。"></textarea>
                <button class="submit_btn">发布评论</button>
            </div>
            <div class="footer">
                <p><span>49</span>人参与,<span>3</span>条评论</p>
            </div>
        </div>
        <div class="comments_list">
            <ul>
                <li>
                    <div class="left">
                        <img src="http://127.0.0.1:8000/media/avatars/头像_0001_20.jpg">
                    </div>
                    <div class="right">
                        <h4>沐沐</h4>
                        <div class="comments_content">
                            <p>你好呀</p>
                            <div>
                                <img src="http://127.0.0.1:8000/media/article_img/22.jpg">
                                <img src="http://127.0.0.1:8000/media/article_img/21.jpg">
                                <img src="http://127.0.0.1:8000/media/article_img/28.jpg">
                                <img src="http://127.0.0.1:8000/media/article_img/28.jpg">
                                <img src="http://127.0.0.1:8000/media/article_img/28.jpg">

                            </div>

                        </div>
                        <div class="comments_info">
                            <span>刚刚</span>

                            <div>
                                <span>点赞(0)</span>
                                <span>回复(0)</span>
                                <span class="delete">删除</span>
                            </div>
                        </div>
                        <div class="sub_comments_list">
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="http://127.0.0.1:8000/media/avatars/头像_0002_27.jpg">
                                </div>
                                <div class="right">
                                    <h4>张三 @ 沐沐</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1分钟前</span>
                                        <div>
                                            <span>点赞(0)</span>
                                            <span>回复(0)</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="http://127.0.0.1:8000/media/avatars/头像_0002_27.jpg">
                                </div>
                                <div class="right">
                                    <h4>张三 @ 沐沐</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1分钟前</span>
                                        <div>
                                            <span>点赞(0)</span>
                                            <span>回复(0)</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="left">
                        <img src="http://127.0.0.1:8000/media/avatars/头像_0001_20.jpg">
                    </div>
                    <div class="right">
                        <h4>沐沐</h4>
                        <div class="comments_content">
                            <p>你好呀</p>
                            <div>
                                <img src="http://127.0.0.1:8000/media/article_img/22.jpg">
                                <img src="http://127.0.0.1:8000/media/article_img/21.jpg">
                                <img src="http://127.0.0.1:8000/media/article_img/28.jpg">
                                <img src="http://127.0.0.1:8000/media/article_img/28.jpg">
                                <img src="http://127.0.0.1:8000/media/article_img/28.jpg">

                            </div>

                        </div>
                        <div class="comments_info">
                            <span>刚刚</span>

                            <div>
                                <span>点赞(0)</span>
                                <span>回复(0)</span>
                                <span class="delete">删除</span>
                            </div>
                        </div>
                        <div class="sub_comments_list">
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="http://127.0.0.1:8000/media/avatars/头像_0002_27.jpg">
                                </div>
                                <div class="right">
                                    <h4>张三 @ 沐沐</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1分钟前</span>
                                        <div>
                                            <span>点赞(0)</span>
                                            <span>回复(0)</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub_comment_item">
                                <div class="left">
                                    <img src="http://127.0.0.1:8000/media/avatars/头像_0002_27.jpg">
                                </div>
                                <div class="right">
                                    <h4>张三 @ 沐沐</h4>
                                    <div class="sub_comment_content">
                                        你好
                                    </div>
                                    <div class="sub_comment_info">
                                        <span>1分钟前</span>
                                        <div>
                                            <span>点赞(0)</span>
                                            <span>回复(0)</span>
                                            <span class="delete">删除</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>


{% endblock %}




{% block js %}
    <script src="/static/editor-md/lib/marked.min.js"></script>
    <script src="/static/editor-md/lib/prettify.min.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/editor-md/editormd.min.js"></script>
    {#    <script src="/static/viewer/js/viewer.js"></script>#}
    {#    <script src="/static/emoji/sina.js"></script>#}
    <script type="text/javascript">

        $(function () {
            let editor = editormd.markdownToHTML("article_content", {
                width: "100%",
                height: "100%",
                path: "/static/editor-md/lib/",
                htmlDecode: true,
                codeFold: true,
            });
        })
    </script>

{% endblock %}