<!DOCTYPE html>
<html lang="en">
{% load my_tags %}
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/elementui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/my/css/reset.css">
    <link rel="stylesheet" href="/static/my/css/base.css">

    {% block css %}
        <link rel="stylesheet" href="/static/my/css/index.css">
    {% endblock %}
    <link rel="stylesheet" href="/static/fontawesome-free-5/css/all.min.css">
    <script src="/static/vue/vue.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>


</head>
<body>
<div id="app">
    <link rel="stylesheet" :href="'/static/my/css/theme/'+ theme +'.css'">

    <nav class="nav_bg">
        <div class="left" id="dynamic_nav">
            <a href="/">首页</a>
            <a href="/news">新闻</a>
            <a href="/moods">心情</a>
            <a href="#">回忆录</a>
            <a href="#">关于</a>
            <a href="/search/">文章搜索</a>
            <a href="#">网站导航</a>
            <div class="search">
                <input type="text" @keydown.enter="search" v-model="search_key" class="search_box"
                       placeholder="请输入搜索内容">
                <button @click="search"><i class="fa fa-search"></i></button>
            </div>

        </div>
        <div class="right">
            <img v-show="theme==='light'" src="/static/my/img/nav/light.svg" @click="setTheme('dark')" alt="">
            <img v-show="theme==='dark'" src="/static/my/img/nav/dark.svg" @click="setTheme('light')" alt="">

            {% if request.user.username %}
                <el-dropdown>
  <span class="el-dropdown-link">
    {{ request.user.username }}<i class="el-icon-arrow-down el-icon--right"></i>
  </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item><a href="/backstage/">个人中心</a></el-dropdown-item>
                        <el-dropdown-item><a href="/backstage/add_article/">发布文章</a></el-dropdown-item>
                        <el-dropdown-item><a href="/admin/">后台管理</a></el-dropdown-item>
                        <el-dropdown-item><a href="/logout/">注销退出</a></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            {% else %}
                <a href="/login">登陆</a>
                <a href="/sign">注册</a>
            {% endif %}

        </div>
    </nav>

    {% block banner %}
        <div class="video_banner">
            <div class="video_banner_text ">
                <div id="blog_info">前端沐沐</div>
                <h3>欢迎来到沐沐个人博客!</h3>
            </div>
        </div>
        {#        {% banner 'index' %}#}
    {% endblock %}

    <main>
        {% block main %}
            <div class="main">
                <div class="left">
                    <div class="card feature_articles">
                        <div class="title">
                            <h2>精选文章</h2>
                            <div class="switch_type">
                                <span :active="checked_type==='font_end'" @click="switch_type('font_end')">前端</span>
                                <span :active="checked_type==='back_end'" @click="switch_type('back_end')">后端</span>
                            </div>
                        </div>
                        <div class="body">
                            <ul v-show="checked_type==='font_end'" class="font_end">
                                {% for frontend in frontend_list %}
                                    <li>
                                        <div class="left">
                                            <div>
                                                <img src="{{ frontend.cover.url.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h2><a href="/article/{{ frontend.nid }}/">{{ frontend.title }}</a></h2>
                                            <p> {{ frontend.abstract }}</p>
                                            <p>{{ frontend.create_date }}</p>
                                        </div>
                                    </li>
                                {% endfor %}


                            </ul>
                            <ul v-show="checked_type==='back_end'" class="back_end">
                                {% for backend in backend_list %}
                                    <li>
                                        <div class="left">
                                            <div>
                                                <img src="{{ backend.cover.url.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h2><a href="/article/{{ backend.nid }}/">{{ backend.title }}</a></h2>
                                            <p> {{ backend.abstract }}</p>
                                            <p>{{ backend.create_date }}</p>
                                        </div>
                                    </li>
                                {% endfor %}


                            </ul>
                        </div>
                    </div>
                    <div class="card hot_search">
                        <div class="title ">
                            <h2>今日热搜</h2>
                            <div>
                                <a href="#" alt="">查看更多</a>
                            </div>

                        </div>
                        <div class="body">
                            主要内容区域
                        </div>

                    </div>
                    <div class="card articles_calendar">
                        <div class="title">
                            <h2 id="pos">文章日历</h2>
                            <div>
                                <a href="#" alt="">查看更多</a>
                            </div>

                        </div>
                        <div class="body">
                            主要内容区域
                        </div>

                    </div>
                    <div class="card blog_articles">
                        <div class="title">
                            <h2>博客文章</h2>
                            <div>
                                <a href="#" alt="">查看更多</a>
                            </div>

                        </div>
                        <div class="body">
                            <ul class="article_content">
                                {% for article in article_list %}
                                    <li>
                                        <div class="left">
                                            <div>
                                                <img src="{{ article.cover.url.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="right">
                                            <h2><a href="/article/{{ article.nid }}/">{{ article.title }}</a></h2>
                                            <p>{{ article.abstract }}</p>
                                            <div class="article_info">
                                            <span>
                                                <i class="far fa-clock"></i>{{ article.create_date |date:'Y-m-d' }}
                                            </span>
                                                <span>
                                                <i class="far fa-thumbs-up"></i>{{ article.digg_count }}
                                            </span>
                                                <span>
                                                <i class="far fa-eye"></i>{{ article.look_count }}
                                            </span>
                                                <span>
                                                <i class="far fa-comments"></i>{{ article.comment_count }}
                                            </span>

                                            </div>
                                            <a href="/article/{{ article.nid }}/" target="_blank">查看详情</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="pager">
                                {{ pager.page_html|safe }}
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="right">
                    {% if advert_list.count %}
                        <div class="card advertisement">
                        <div class="title">
                            <h2>独家广告</h2>
                            <div>
                                <a href="#" alt="">申请</a>
                            </div>

                        </div>
                        <div class="body">
                         {% generate_advert advert_list %}
                        </div>

                    </div>
                    {% endif %}

                    <div class="card tags_cloud ">
                        <div class="title">
                            <h2>标签云</h2>
                        </div>
                        <div class="body">
                            <ul>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>

                            </ul>
                        </div>

                    </div>
                    <div class="card  site_info">
                        <div class="title">
                            <h2>站点信息</h2>
                        </div>
                        <div class="body">
                            主要内容区域
                        </div>

                    </div>
                    <div class="card  suggestions">
                        <div class="title">
                            <h2>意见反馈</h2>
                        </div>
                        <div class="body">
                            主要内容区域
                        </div>

                    </div>

                </div>
            </div>


        {% endblock %}

    </main>
    <footer>
        <div class="left">
            <p class="thank">Thanks For</p>
            <p class="site_info">
                <span><img src="/static/my/img/footer/tencent.png" alt="">腾讯云服务器</span>
                <span><img src="/static/my/img/footer/tencent.png" alt="">腾讯云SSL证书</span>
                <span><img src="/static/my/img/footer/qiniu.png" alt="">七牛存储</span>

            </p>
            <p class="version">
                <span>version</span>
                <span>1.0.0</span>
            </p>
            <P>建站日期:2022-11-28</P>
            <p class="beian">
                <a href="#"> <img src="/static/my/img/footer/badges.png" alt="">备案号XXX </a>
            </p>
        </div>
        <div class="right">
            <div class="contact">
                <div>
                    <img class="svg" src="/static/my/img/footer/qq_icon.svg" alt="">
                    <img class="contact_img" src="/static/my/img/footer/qq_qs.jpg" alt>
                </div>
                <div>
                    <img class="svg" src="/static/my/img/footer/weixin_icon.svg" alt="">
                    <img class="contact_img" src="/static/my/img/footer/weixin_qs.jpg" alt>
                </div>
                <div>
                    <a href="https://space.bilibili.com/37861328" target="_blank">
                        <img class="svg" src="/static/my/img/footer/bilibili_icon.svg" alt="">
                    </a>
                </div>
                <div>
                    <a href="https://gitee.com/JioJaxson" target="_blank">
                        <img class="svg" src="/static/my/img/footer/gitee_icon.svg" alt="">
                    </a>
                </div>
            </div>
            <p>联系邮箱:JioJaxson@gmail.com</p>
        </div>

    </footer>
</div>
<!-- 引入组件库 -->
<script src="/static/elementui/index.js"></script>
<script src="/static/axios/axios.min.js"></script>

<script>
    {#请求中间件#}
    axios.interceptors.request.use(request => {
        if (request.method !== 'get') {
            let csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            request.headers['X-CSRFToken'] = csrftoken

        }
        return request
    });
    axios.interceptors.response.use(response => {
        {#console.log(response);#}
        return response.data;
    });

    //动态导航栏
    function  dynamic_navigation(){
        let a_list = document.querySelectorAll('#dynamic_nav>a')
        let path = location.pathname
        for (const a of a_list) {
            let a_href = a.getAttribute('href')
            if (a_href === path || a_href + '/' === path){
                a.classList.add('active')
            }
        }
    }
    dynamic_navigation()
    new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],

        data: {
            theme: 'light',//默认主题
            checked_type: 'font_end',// 选中文章类型 默认前端
            comment_content: '',//评论内容
            isShowSlider: false, //显示测边目录
            slide_list: [],
            slide_text: '显示悬浮目录',
            search_key: '',
            mood_dialogVisible:false,
            mood_add:{
                name:'',
                avatar_id:null,
                content:'',
                drawing:'',
            }
        },
        created() {
            this.init_theme();
            this.init_switch_type();
            let path = location.pathname
            if (path.indexOf('article') !== -1) {
                this.init_slider();

            }
            if (path.indexOf('search') !== -1) {
                this.init_search_key()
            }
            setTimeout(() => {
                this.get_sidebar();
                this.code_copy();

            }, 200)
        },
        methods: {
            // 设置主题
            setTheme(themeName) {
                this.theme = themeName;
                //持久化存储
                localStorage.setItem('theme', themeName)
            },
            // 初始化主题
            init_theme() {
                // 读取存储的主题色
                let theme = localStorage.getItem('theme')
                if (theme) {
                    this.theme = theme
                }
            },

            // 切换精选文章类型
            switch_type(typeName) {
                this.checked_type = typeName;
                // 持久化存储
                localStorage.setItem('checked_type', typeName)
            },
            // 初始化文章类型
            init_switch_type() {
                // 读取存储的选中类型
                let checked_type = localStorage.getItem('checked_type')
                if (checked_type) {
                    this.checked_type = checked_type
                }

            },
            //发布评论
            add_comment(nid) {
                axios.post(`/api/article/comment/${nid}/`, {content: this.comment_content}).then(res => {
                    if (res.code) {
                        if (res.self) {
                            this.$refs[`comment_${res.self}`].focus();
                        }
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(() => {
                        location.reload()
                    }, 600)
                })
            },

            //将被评论人名字写到placeholder
            set_sub_placeholder(div, username, cid) {
                $(div).find('textarea').attr('placeholder', `@${username}`)
                $(div).find('textarea').attr('cid', cid)

            },


            //展示子评论回复列表
            show_sub_comment_list(e, username, cid) {
                let div = $(e.target).parent().parent().next()
                $(div).slideToggle()
                this.set_sub_placeholder(div, username, cid)
            },

            //子评论回复显示
            sub_comment_set_placeholder(e, username, cid) {
                let div = $(e.target).parents('.sub_comments_list')
                this.set_sub_placeholder(div, username, cid)

            },

            //添加子评论
            add_sub_comment(e, nid) {
                // nid 文章id   cid 评论id
                axios.post(`/api/article/comment/${nid}/`, {
                    content: $(e.target).prev().val(),
                    pid: $(e.target).prev().attr('cid'),
                }).then(res => {
                    if (res.code) {
                        if (res.self) {
                            this.$refs[`sub_comment_${res.self}`].focus();
                        }
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(() => {
                        location.reload()
                    }, 600)
                })

            },


            //删除子评论
            delete_sub_comment(nid, aid, root_comment_id) {
                this.$confirm('此操作将永久删除该评论, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete(`/api/article/comment/${nid}/`, {
                        data: {
                            aid,
                            pid: root_comment_id,
                        }
                    }).then((res) => {
                        if (res.code) {
                            this.$message.error(res.msg)
                            return
                        }
                        this.$message.success(res.msg)
                        setTimeout(() => {
                            location.reload()
                        }, 600)
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });

            },


            //评论点赞
            comment_digg(e, nid) {
                axios.post(`/api/comment/digg/${nid}`).then(res => {
                    if (res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    e.target.innerHTML = `点赞（${res.data}）`
                    this.$message.success(res.msg)
                })
            },


            //文章点赞
            article_digg(e, nid) {
                let dom = e.target
                axios.post(`/api/article/digg/${nid}`).then(res => {
                    if (res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    $(dom).next().text(res.data)
                    this.$message.success(res.msg)
                })

                dom.classList.add('show')
                let timer = null
                clearTimeout(timer)
                timer = setTimeout(() => {
                    dom.classList.remove('show')
                }, 1000)

            },


            //文章收藏
            article_collects(e, nid) {
                let dom = e.target
                axios.post(`/api/article/collects/${nid}`).then(res => {
                    if (res.code) {
                        this.$message.error(res.msg)
                        return
                    }
                    this.$message.success(res.msg)
                    $(dom).next().text(res.data)

                    if (res.isCollects) {
                        dom.classList.add('show')
                        return
                    }
                    dom.classList.remove('show')


                })

            },

            //返回顶部
            go_to_top() {
                $('html,body').animate({
                    scrollTop: 0
                }, 1000)
            },

            init_slider() {
                let flag = localStorage.getItem('isShowSlider')
                if (flag) {

                    flag = eval(flag)
                    if (flag) {
                        this.isShowSlider = true
                        this.$nextTick(() => {
                            this.sliderChange(true)
                        })
                    }
                    return
                }
                this.flag = false
            },

            //悬浮目录的显隐
            sliderChange(val) {
                let dom = this.$refs.slider
                localStorage.setItem('isShowSlider', val)
                if (val) {
                    dom.classList.add('show')
                    this.slide_text = '关闭悬浮目录'

                    return
                }
                dom.classList.remove('show')
                this.slide_text = '显示悬浮目录'

            },

            //悬浮目录
            get_sidebar() {
                let content = $('#article_content')
                let h_list = content.children('h1,h2,h3,h4')
                let lis = []
                for (let i = 0; i < h_list.length; i++) {
                    let c = h_list[i].innerText
                    let tagName = h_list[i].tagName
                    let tagId = h_list[i].id
                    let ele = {
                        tagName,
                        c,
                        pos: '#' + tagId
                    }
                    lis.push(ele)
                }

                lis.push({
                    tagName: 'H1',
                    c: '去评论吧!',
                    pos: '.comment_submit'
                })

                this.slide_list = lis
            },

            go_slide_bar(selector, e) {
                $('.slider_bar .body>p').css('color', '')
                e.target.style.color = 'orange'
                let box = $(selector)
                let pos = box.offset()
                pos.top = pos.top - 80
                $('html,body').animate({
                    scrollTop: pos.top
                }, 600)

            },


            //代码一键复制
            code_copy() {
                $('pre').each(function () {
                    let copy = $(`<i title='copy' class="el-icon-document-copy code_copy"></i>`)
                    $(this).append(copy)
                })

                $('pre i.code_copy').click(e => {
                    let text_list = $(e.target).prev().find('code')
                    let text = ''
                    text_list.each(function () {
                        text += $(this).text() + '\n'
                    })
                    let element = $('<textarea>' + text + '</textarea>')
                    $('body').append(element)
                    element[0].select()
                    document.execCommand('Copy')
                    element.remove()
                    // 自定义消息通知组件
                    this.$message.success('复制成功!')
                })
                {#console.log($('pre'))#}
            },
            // 点击搜索
            search() {
                let box = document.querySelector('.search')
                if (!box.classList.contains('show_search')) {
                    box.classList.add('show_search')
                    return
                }
                if (!this.search_key) {
                    box.classList.remove('show_search')
                    return
                }
                // 打开标签页
                window.open('/search/?key=' + this.search_key)


            },

            //初始化搜素词
            init_search_key() {
                let dom = document.querySelector('.search_key_input')
                let key = dom.getAttribute('data-search-key')
                this.search_key = key
            },

            //获取热搜数据
            get_new_data(id,name){
                axios.post('http://www.fengfengzhidao.com/api/news/',{id}).then(res=>{
                    console.log(res)
                 })
                {#  axios.post('https://api.codelife.cc/api/top/list',{id}).then(res=>{#}
                {#    console.log(res)#}
                {# })#}
            },

            // 心情子级评论显示
            mood_show_comment_list(e){
                let div = $(e.target).parent().parent().next()
                div.slideToggle()
            },
            // 添加心情
            mood_add_method(){
                axios.post('/api/moods/',this.mood_add).then(res=>{
                    if(res.code){
                        this.$message.error(res.msg)
                        this.$refs[`mood_add_${res.self}_ref`].focus()
                        return
                    }
                    this.$message.success(res.msg)
                    setTimeout(()=>{
                        location.reload()
                    },1000)
                })
            },
            // 删除心情
            mood_delete(nid,e){
                 this.$confirm('此操作将永久删除该心情, 是否继续?', '提示', {
                      confirmButtonText: '确定',
                      cancelButtonText: '取消',
                      type: 'warning'
                }).then(() => {
                     axios.delete(`/api/moods/${nid}/`).then(res=>{
                        if(res.code){
                            this.$message.error(res.msg)
                            return
                        }
                        this.$message.success(res.msg)
                             setTimeout(()=>{
                                 $(e.target).parents('.mood').remove()
                             },500)
                            })
                }).catch(() => {
                  this.$message({
                    type: 'info',
                    message: '已取消删除'
                  });
                });
            }
        }

    })


</script>

{% block video_banner %}
    <script src="/static/utils/vidbg.js"></script>
    <script src="/static/echarts/echarts.min.js"></script>
    <script src="/static/utils/banner_title.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $('.video_banner').vidbg({
                'mp4': '../media/video_bg/story.mp4',
                {#'poster': 'media/fallback.jpg',#}
            }, {
                // Options
                muted: true,
                loop: true,
                overlay: true,
            });
        });
    </script>
{% endblock %}


{% block js %}
    <script>
        // 轮播图
        let banner_list = document.querySelectorAll('.header_banner')
        let banner_list_length = banner_list.length
        let index = 0
        let timer = null;
        clearInterval(timer);
        timer = setInterval(() => {
            index++
            if (index === banner_list_length) {
                index = 0
            }
            // 样式复位操作 (排他思想)
            for (let i of banner_list) {
                i.style.opacity = 0
            }
            let path = location.pathname
            if (path.indexOf('article') !== -1) {
                banner_list[index].style.opacity = 1
            }

        }, 2000)

        {#动态导航条#}
        let nav = document.querySelector('.nav_bg')
        let slider = document.querySelector('.slider_bar')
        let box = document.querySelector('.article_actions')
        let top1 = 0;
        let path = location.pathname
        if (path.indexOf('article') !== -1) {
            top1 = $(slider).offset().top - 80
        }

        window.addEventListener('scroll', () => {
            let top = document.documentElement.scrollTop
            if (top >= 200) {
                nav.classList.add('show')
            } else {
                nav.classList.remove('show')
            }
            let path = location.pathname
            if (path.indexOf('article') !== -1) {
                if (top >= 500) {
                    box.style.opacity = 1

                } else {
                    box.style.opacity = 0
                }
            }

            if (slider) {
                if (top >= top1) {
                    slider.classList.add('fixed')
                } else {
                    slider.classList.remove('fixed')

                }
            }

        })
    </script>
{% endblock %}
</body>
</html>