{% extends 'index.html' %}
{% load my_tags my_filter %}

{% block css %}
    <link rel="stylesheet" href="/static/my/css/moods.css">

{% endblock %}

{% block main %}
    <div class="main">
     {% csrf_token %}
        <el-dialog
          title="发布心情"
          :visible.sync="mood_dialogVisible"
          width="50%">
          <div class="add_mood_content body">
              <div>
                  <label for="mood_add_name">用户名</label>
                  <el-input id="mood_add_name" ref="mood_add_name_ref" v-model="mood_add.name" placeholder="请输入用户名" />
              </div>
               <div>
                  <label for="">头像</label>
                   <ul class="avatar_list">
                       {% for avatar in avatar_list %}
                          <li >
                            <el-radio v-model="mood_add.avatar_id" label="{{ avatar.nid }}">
                                <img src="{{ avatar.url.url }}" alt="">
                            </el-radio>
                           </li>
                       {% endfor %}
                   </ul>
              </div>
              <div>
                  <label for="mood_add_content">心情内容</label>
                  <el-input id="mood_add_content" ref="mood_add_content_ref" v-model="mood_add.content" type="textarea" resize="none" :row="2" placeholder="请输入心情内容" />
              </div>
               <div>
                  <label for="mood_add_drawing">配图</label>
                  <el-input id="mood_add_drawing" v-model="mood_add.drawing" type="textarea" resize="none" :row="4" placeholder="请输入配图,多个配图使用: 隔开" />
              </div>

          </div>
          <span slot="footer" class="dialog-footer">
            <el-button @click="mood_dialogVisible = false">取 消</el-button>
            <el-button type="primary"  @click="mood_add_method">确 定</el-button>
          </span>
        </el-dialog>
        <el-button class="add_mood" @click="mood_dialogVisible =true">发布心情</el-button>
    {% for mood in moods_list %}
       <div class="mood">
            <div class="left">
                <img src="{{ mood.avatar.url.url }}">
            </div>
            <div class="right">
                <h3 class='name'>{{ mood.name }}</h3>
                <p class="content">{{ mood.content }}</p>
                <div class="drawing">
                    {% if mood.drawing %}
                        <img src="{{ mood.drawing}}" alt="">
                    {% endif %} 
                </div>
                <div class="info">
                    <span class="date">{{ mood.create_date }}</span>
                    <span class="sub_info">
                        <span>点赞({{ mood.digg_count }})</span>
                        <span @click="mood_show_comment_list($event)">评论({{ mood.comment_count }})</span>
                        <span class="delete">删除</span>
                    </span>
                </div>
                <ul class="sub_comment_list">
                    <li>
                        <div class="left">
                             <img src="/media/avatars/头像_0002_27.jpg">
                        </div>
                        <div class="right">
                            <h4 class="name">张三</h4>
                            <p class="content">回复你的</p>
                            <div class="info">
                                <span class="date">5小时前</span>
                                <span class="sub_info">
                                    <span>点赞(1)</span>

                                    <span class="delete">删除</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <el-button  type="primary" class="reply_mood">回复这条心情</el-button>

                </ul>
            </div>
        </div>
    {% endfor %}
    

    </div>
{% endblock %}