{% extends 'index.html' %}
{% load my_tags my_filter %}

{% block css %}
    <link rel="stylesheet" href="/static/my/css/moods.css">

{% endblock %}

{% block main %}
    <div class="main">
        <el-button class="add_mood">发布心情</el-button>
        <div class="mood">
            <div class="left">
                <img src="/media/avatars/头像_0001_20.jpg">
            </div>
            <div class="right">
                <h3 class='name'>沐沐前端</h3>
                <p class="content">欢迎大家!</p>
                <div class="info">
                    <span class="date">5小时前</span>
                    <span class="sub_info">
                        <span>点赞(1)</span>
                        <span @click="mood_show_comment_list($event)">评论(1)</span>
                        <span class="delete">删除</span>
                    </span>
                </div>
                <ul class="sub_comment_list">
                    <li>
                        <div class="left">
                             <img src="/media/avatars/头像_0002_27.jpg">
                        </div>
                        <div class="right">
                            <h4 class="name">张三</h4>
                            <p class="content">回复你的</p>
                            <div class="info">
                                <span class="date">5小时前</span>
                                <span class="sub_info">
                                    <span>点赞(1)</span>

                                    <span class="delete">删除</span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <el-button  type="primary" class="reply_mood">回复这条心情</el-button>

                </ul>
            </div>
        </div>
     <div class="mood">
            <div class="left">
                <img src="/media/avatars/头像_0001_20.jpg">
            </div>
            <div class="right">
                <h3 class='name'>沐沐前端</h3>
                <p class="content">欢迎大家!</p>
                <div class="info">
                    <span class="date">5小时前</span>
                    <span class="sub_info">
                        <span>点赞(1)</span>
                        <span>评论(1)</span>
                        <span class="delete">删除</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}