{% extends "index.html" %}

{#不需要banner部分直接将block放空即可#}
{% block banner %}

{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/my/css/search.css">
{% endblock %}
{% block main %}
    <div action="" class="main">
        <form class="search_box">
            <div>沐沐博客|搜索</div>
            <div><input name="key" class="search_key_input" type="text" placeholder="搜索你想要的内容" data-search-key="{{ search_key }} "
                        v-model="search_key "></div>
            <div>
                <button @keydown.enter="search" >
                    <i class="fa fa-search"></i>
                    搜索
                </button>
            </div>
        </form>
        <div class="search_criteria">
            <ul>
                <li class="active"><a href="">综合排序</a></li>
                <li><a href="?order=-create_date">最新发布</a></li>
                <li><a href="?order=look_count">最多浏览</a></li>
                <li><a href="?order=digg_count">最多点赞</a></li>
                <li><a href="?order=collects_count">最多收藏</a></li>
                <li><a href="?order=comment_content">最多评论</a></li>

            </ul>
            <ul>
                <li class="active"><a href="">全部文章</a></li>
                <li><a href="">100字左右</a></li>
                <li><a href="">500字左右</a></li>
                <li><a href="">2000字左右</a></li>
                <li><a href="">3000字以上</a></li>
            </ul>
            <ul>
                <li class="active"><a href="">全部标签</a></li>
                <li><a href="">python</a></li>
                <li><a href="">java</a></li>
                <li><a href="">CSS</a></li>
                <li><a href="">HTML</a></li>
            </ul>
        </div>
        <ul class="search_content">
            {% for article in article_list %}
             <li>
                <a href="/article/{{ article.nid }}" target="_blank" class="img">
                    <img src='{{ article.cover.url.url }}'>
                </a>
                <div class="info">
                    <div class="title">
                        <a href="/article/{{ article.nid }}" target="_blank">{{ article.title }}</a>
                    </div>
                    <div class="icon">
                        <span>
                            <i class="fa fa-lock"></i>
                            {{ article.look_count }}
                        </span>
                        <span>
                            <i class="fa fa-clock"></i>
                            {{ article.change_date|date:'Y-m-d' }}
                        </span>
                    </div>
                </div>
            </li>
            {% endfor %}


        </ul>
        <ul class="pager">
         {{ pager.page_html |safe}}
        </ul>
    </div>
{% endblock %}


{% block js %}
    <script>
        {#固定导航条#}
        let nav = document.querySelector('.nav_bg')
        nav.classList.add('show')
    </script>

{% endblock %}

{% block video_banner %}

{% endblock %}