{% extends "index.html" %}

{#不需要banner部分直接将block放空即可#}
{% block banner %}

{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/my/css/search.css">
{% endblock %}
{% block main %}
    <div class="main">
        <div class="search_box">
            <div>沐沐博客|搜索</div>
            <div><input type="text" placeholder="搜索你想要的内容"></div>
            <div>
                <button>
                    <i class="fa fa-search"></i>
                    搜索
                </button>
            </div>
        </div>
        <div class="search_criteria">
            <ul>
                <li class="active"><a href="">综合排序</a></li>
                <li><a href="">最新发布</a></li>
                <li><a href="">最多点赞</a></li>
                <li><a href="">最多收藏</a></li>
                <li><a href="">最多评论</a></li>
            </ul>
            <ul>
                <li class="active"><a href="">全部文章</a></li>
                <li><a href="">100字左右</a></li>
                <li><a href="">500字左右</a></li>
                <li><a href="">2000字左右</a></li>
                <li><a href="">3000字以上</a></li>
            </ul>
            <ul>
                <li class="active"><a href="">全部标签</a></li>
                <li><a href="">python</a></li>
                <li><a href="">java</a></li>
                <li><a href="">CSS</a></li>
                <li><a href="">HTML</a></li>
            </ul>
        </div>
        <div class="pager"></div>
    </div>
{% endblock %}